[Unit]
Description=Rclone
After=network-online.target

[Service]
Type=simple
User=user
ExecStart=/usr/bin/webdav --config "/home/user/.config/rclone/config.yml"
Restart=on-abort
#EnvironmentFile=/home/user

[Install]
WantedBy=default.target
