#include "windows.h"
#include "BusSpd2k.h"


GenericIcon ICON BusSpd2k.ico

GenericMenu MENU
BEGIN
    POPUP "  &Options"
    BEGIN
        MENUITEM "&Run Performance Tests..."  11
        MENUITEM "&Run Reliability Tests..."12                
        MENUITEM "&Display Results..."10                
        MENUITEM "&Exit..."     9
    END
    POPUP "  &Help"
    BEGIN
        MENUITEM "&About The Tests..."   1
        MENUITEM "&Performance Tests..."   2
        MENUITEM "&Reliability Tests..."   3
        MENUITEM "&Batch Parameters..."   4
    END
END

AboutBox DIALOG FIXED DISCARDABLE  22, 17, 200, 70
STYLE DS_MODALFRAME | WS_OVERLAPPED | DS_3DLOOK | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION " About The Program"
BEGIN
        CONTROL "Windows BusSpeed Test",  -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 5, 200, 9
        CONTROL "Version 2.2",                       -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 14, 200, 9
        CONTROL "Copyright (C) Roy Longbottom 2007", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 23, 200, 9
        CONTROL "", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 34, 200, 9
        CONTROL "", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 43, 200, 9
        CONTROL "OK",                                1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 81, 55, 32, 14
        CONTROL "GenericIcon",                       -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 5, 5, 10, 10
END

PerfHelp DIALOG FIXED DISCARDABLE  12, 17, 285, 160
STYLE DS_MODALFRAME | WS_OVERLAPPED | DS_3DLOOK | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION " Performance Tests"
BEGIN
        CONTROL "The program uses extended machine code functions to",                         -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 5, 280, 9
        CONTROL "transfer data from caches and RAM to the CPU as fast as possible ",           -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 14, 280, 9
        CONTROL "using 4, 8, 16 etc. Kbytes up to 25% of RAM size. Data transfer over ",       -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 23, 280, 9
        CONTROL "buses is usually in a burst of 32 bytes and further data cannot be ",         -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 32, 280, 9
        CONTROL "transferred until the burst is finished. To identify burst width, the first", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 41, 280, 9
        CONTROL "4 tests move 4 bytes integer words with address increments of 64, ",          -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 50, 280, 9
        CONTROL "32, 16 and 8 bytes, with alternate transfers to different registers. The ",   -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 59, 280, 9
        CONTROL "next two tests move all data at 4 bytes increments to 1 then 2 ",             -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 68, 280, 9
        CONTROL "registers. This can show different CPU pipeline effects. The next ",          -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 77, 280, 9
        CONTROL "two tests are similar but use AND to represent real calculations. The ",      -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 86, 280, 9
        CONTROL "final two tests move 8 bytes MMX data to 1 and 8 registers. This ",           -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 95, 280, 9
        CONTROL "usually shows maximum data transfer rates and multiple pipeline ",            -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 104, 280, 9
        CONTROL "effects. An option is available to read data that is misaligned from ",       -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 113, 280, 9
        CONTROL "normal page/word address boundaries by 1 to 31 bytes. For large RAM",         -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 122, 280, 9
        CONTROL "latest version has option to use size - 64M bytes. Default now up to 50%.",   -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 131, 280, 9
        CONTROL "OK",                                1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 124, 145, 32, 14
        CONTROL "GenericIcon",                       -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 5, 5, 10, 10
END

RelHelp DIALOG FIXED DISCARDABLE  12, 17, 285, 170
STYLE DS_MODALFRAME | WS_OVERLAPPED | DS_3DLOOK | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION " Reliability Tests"
BEGIN
        CONTROL "Six tests are run using the chosen memory size via a machine code ",      -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 5, 280, 9
        CONTROL "function which uses all eight 64 bits MMX registers. Data is ",           -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 14, 280, 9
        CONTROL "alternately added to and subtracted from the registers. These, in ",      -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 23, 280, 9
        CONTROL "turn, are added/subtracted to produce a single result from multiple ",    -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 32, 280, 9
        CONTROL "passes of the whole data. The result is checked for correctness and ",    -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 41, 280, 9
        CONTROL "any errors will be displayed and saved in the log file. Test 1 data is ", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 50, 280, 9
        CONTROL "all zeros and test 2 all ones (hex FF x 8). The other tests use ",        -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 59, 280, 9
        CONTROL "different data patterns where bit patterns are reversed every 32 ",       -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 68, 280, 9
        CONTROL "bytes. The patterns are hex A5A5 then 5A5A, 5555 then AAAA, ",            -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 77, 280, 9
        CONTROL "3333 then CCCC, F0F0 then 0F0F. Default running time is 5 ",              -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 86, 280, 9
        CONTROL "seconds per test. Besides checking the result, the program also ",        -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 95, 280, 9
        CONTROL "measures data transfer speed, this being displayed every second ",        -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 104, 280, 9
        CONTROL "whilst the test is running. For large RAM later version has",             -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 113, 280, 9
        CONTROL "option to use size - 64M bytes. This also has 6 extra write then ",       -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 122, 280, 9
        CONTROL "read tests with alternating bit patterns. Latest version has extra ",     -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 131, 280, 9
        CONTROL "command parameter to test paging speeds running just one test.     ",     -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 140, 280, 9
        CONTROL "OK",                                1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 124, 154, 32, 14
        CONTROL "GenericIcon",                       -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 5, 5, 10, 10
END

BatchHelp DIALOG FIXED DISCARDABLE  22, 17, 280, 170
STYLE DS_MODALFRAME | WS_OVERLAPPED | DS_3DLOOK | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION " Batch Run Time Parameters"
BEGIN
        CONTROL "The following options can be used to run the performance tests from ", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 5, 280, 9
        CONTROL "a command line or BAT file:",                                          -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 14, 280, 9
        CONTROL "BusSpd2K Auto, Kbytes nnnn, Millisecs mmmm, Offset oo",                -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 28, 280, 9
        CONTROL "Auto runs the program, logs the results and exits automatically: ",    -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 42, 280, 9
        CONTROL "nnnn represents the maximum Kbytes memory to be used: mmmm ",          -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 51, 280, 9
        CONTROL "defines the minimum running time for each test: oo (0 to 31) ",        -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 60, 280, 9
        CONTROL "specifies address data offset from page/word boundary.",               -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 69, 280, 9
        CONTROL "The reliability tests can be run via the following command:",          -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 83, 280, 9
        CONTROL "BusSpd2K Reliability, Kbytes nnnn, Seconds ssss, Paging",              -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 97, 280, 9
        CONTROL "Reliability also sets the Auto mode, Kbytes nnnn specifies memory ",   -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 111, 280, 9
        CONTROL "size to be tested and ssss seconds the running time for each test. ",  -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 120, 280, 9
        CONTROL "Paging runs one reliability write/read test to measure paging speeds", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 129, 280, 9
        CONTROL "OK",                                1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 124, 144, 32, 14
        CONTROL "GenericIcon",                       -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 5, 5, 10, 10
END

DIALOG_8 DIALOG FIXED DISCARDABLE  1, 1, 320, 210
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | DS_3DLOOK | DS_CONTROL
CAPTION " Test Panel"
// FONT 10, "Times New Roman"

BEGIN
        CONTROL " Results",     -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 5, 310, 129 
        CONTROL "",             949, "LISTBOX", LBS_USETABSTOPS | LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 10, 15, 300, 115
//        CONTROL " Notes",  -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 105, 140, 210, 40 
//        CONTROL "",             950, "LISTBOX", LBS_USETABSTOPS | LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 110, 150, 200, 25
//        CONTROL "Reliability",  936, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 183, 40, 15
        CONTROL "Exit",         934, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 273, 184, 41, 15
        CONTROL ""              960, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_HSCROLL, 115, 145, 40, 100 
        CONTROL ""              961, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_HSCROLL, 115, 163, 40, 100 
        CONTROL ""              962, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_HSCROLL, 115, 181, 40, 100 
        CONTROL "Max Memory KB",  -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 55, 145, 55, 9 
        CONTROL "Millisecs/test", -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 55, 163, 55, 9 
        CONTROL "Bytes offset",   -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 55, 181, 55, 9 
        CONTROL " PERFORMANCE Tests",     -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 135, 154, 63 
        CONTROL "Run Tests",    937, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 145, 41, 15
        CONTROL ""              970, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_HSCROLL, 273, 145, 40, 100 
        CONTROL ""              971, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_HSCROLL, 273, 163, 40, 100 
        CONTROL "At Memory KB",  -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 145, 55, 9 
        CONTROL "Seconds/test",  -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 163, 55, 9 
        CONTROL " RELIABILITY Tests",     -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 163, 135, 154, 46 
        CONTROL "Run Tests",    936, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 145, 41, 15
END


DIALOG_9 DIALOG FIXED DISCARDABLE  1, 1, 320, 195
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | DS_3DLOOK | DS_CONTROL
CAPTION " Tests Running Log"
// FONT 10, "Helv"

BEGIN
        CONTROL " Results",     -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 5, 310, 130 
        CONTROL "",             849, "LISTBOX", LBS_USETABSTOPS | LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 10, 15, 300, 115
        CONTROL " Notes",  -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 140, 310, 40 
        CONTROL "",             850, "LISTBOX", LBS_USETABSTOPS | LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 10, 150, 300, 25
END

