Package: whois
Version: 5.5.6
Depends: libc, librt, libpthread, libidn2
Source: package/aMy/whois
SourceName: whois
Section: net
Architecture: i386_pentium4
Installed-Size: 29407
Description:  intelligent WHOIS client
